<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.springbootshiro.dao.IPermissionDao">
  <resultMap id="BaseResultMap" type="com.my.springbootshiro.domain.Permission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>

</mapper>